<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    </head>
    <body>
        <h1 style="text-align: center;"> @ViewBag.Example </h1>
        @{
            var StringList = new List<string>{
                                "one",
                                "two",
                                "three",
                                "four",
                                "five"
                            };
        
            foreach(var word in StringList)
            {
            // We can render HTML from within C# code!
                <p>@word</p>
            }
        }
        <h1>This is the start of the next razor element</h1>
        @foreach(var word in StringList)
        {
            <div>
                <p>@word</p>
                @if(word.Length < 10)
                {
                    <p>@word is a short word</p>
                }
            </div>
        }
    </body>
</html>